body {
  background: lightgray;
  color: #464646;
}
a {
  color: #660033;
  text-decoration: none;
}
a:hover {
  color:#777B88;
}
a:visited {
  color:#330033;
}
ul {
  margin: 15px;
}
li {
  margin: 10px;
  list-style: none;
}
button, input[type="submit"]{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.5s ease;
}
button:hover, input[type="submit"]:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3)
}
.new-listing input, .single-listing input {
  width: 100%;
  margin-bottom: 5px;
}
input[type="submit"] {
  background: #777B88;
  color: #E0E6FF;
  width: 120px;
  margin-left: 5px;
  margin-top: 30px;
}
input[type="submit"]:disabled {
  color: lightgray;
  box-shadow: none;
}
.App {
  background: lightgray;
  height: 100%;
  color: #464646;
}
.App-header {
  background-color: #330033;
  height: 75px;
  padding: 20px;
  color: white;
  text-align: center;
}
.icon {
  height: 15px;
  margin-left: 5px;
}
.new-listing {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.name-input {
  width: 150px;
  margin-right: 5px;
}
.url-input {
  width: 200px;
}
.title {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}
.url {
  font-size: .8em;
}
.card {
  background: white;
  position: relative;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid lightgray;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.03, 1.03);
}
.single-listing {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
#edit-listing {
}
.edit-button {
  margin-left: 5px;
  background: #c6d8aa;
}
.cancel-button {
  background: #643d51;
  color: #330033;
}
.delete-button {
  color: #660033;
}
.back {
  display: block;
  margin-top: 10px;
}
.back .icon {
  margin-right: 8px;
}
.error {
  background: rgba(248, 223, 223, 0.5) !important;
  border: 1px solid #f55050 !important;
}
.error-text {
  font-size: 0.7em;
  color: #f55050;
  margin-left: 5px;
}
.hidden {
  display: none;
}
